body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #eaeaea;
}

.button {
  font-family: Helvetica, Arial, sans-serif;
}

.button-group li {
  padding-top: 3%;
}

.button-group a {
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.button-group a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.button-group {
  float: none;
}

@media only screen and (min-width: 40.063em) {
  .button-group {
    float: right;
  }
}

.namelogo {
  padding: 20px 10px 0px 10px;
}

@media only screen and (min-width: 40.063em) {
  .namelogo {
    padding-bottom: 20px;
  }
}

.namelogo h1 {
  font-size: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 40.063em) {
  .namelogo h1 {
    font-size: 16px;
    text-align: left;
  }
}

@media only screen and (min-width: 64.063em) {
  .namelogo h1 {
    font-size: 24px;
    text-align: left;
  }
}

.hero {
  height: 60%;
}

.intro-text {
  padding-top: 20%;
  text-align: center;
}

@media only screen and (min-width: 40.063em) {
  .intro-text {
    padding-top: 15%;
  }
}

@media only screen and (min-width: 64.063em) {
  .intro-text {
    padding-top: 8%;
  }
}

.intro-text p {
  font-family: Karla, Helvetica, Arial, sans-serif;
  font-size: 44px;
}

.intro-text button {
  font-family: Karla, Helvetica;
  font-weight: 200;
  font-size: 1.6em;
  border-radius: 8px;
}

.about,
.work,
.contact {
  padding: 50px 0 0 0;
}

.about img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.work img:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.work li {
  height: 140px;
  overflow: hidden;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  opacity: 0.8;
}

footer {
  padding: 80px 0 10px 0;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.button-group > li > button,
.button-group > li .button {
  border: none;
}

.team {
  text-align: center;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.roadmap {
  text-align: center;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

.author {
  width: 50%;
  border-radius: 100%;
}

.team h4 {
  margin-top: 20px;
}
