body {
  padding-top: 0;
  padding-bottom: 20px;
  font-family: 'Montserrat';
}

a {
  color: #F47E23;
  cursor: pointer;
}

.container {
  /* hacking bootstrap, not cool */
  max-width: 100%;
}

/* NAVBAR */

.navbar {
  margin: 0;
  padding: 30px 45px 0;
  background-color: #14162d;
  border-radius: 0;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

/* HEADING */

.header {
  position: relative;
  height: 440px;

  color: white;
  background-color: #14162d;
}

.header h1 {
  font-size: 48px;
}

.header p {
  margin: 50px 0;
  font-size: 15px;
}

.header-image {
  position: absolute;
  left: -46px;
  bottom: -295px;

  width: 627px;
  height: 660px;
}

.header .btn {
  padding: 25px 45px;

  font-size: 15px;
  text-transform: uppercase;
  color: white;

  background-color: #F47E23;
  border-radius: 0;
}

.header .btn:hover {
  background-color: #FFAE2D;
}

.skew {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 0;

  background-color: #14162d;
  z-index: -1;
}

/* SECTIONS */

section {
  position: relative;
  padding: 40px 140px 100px;
}

section.odd {
  background-color: #f6f6f6;
}

.section-icon {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;

  width: 70px;
  height: 70px;

  margin: 0 auto;
}

section .heading {
  margin: 10px 0 100px;
}

section .heading h3 {
  font-size: 36px;
  text-align: center;
}

section p {
  font-size: 16px;
  margin-bottom: 30px;
}

section .heading p {
  margin: 0;
  font-weight: 300;
  text-align: center;
}

/* Why? */

.why {
  margin-top: 100px;
}

.video {
  max-width: 100%;
  margin: 0 auto;
}

/* Who? */

.who p {
  margin-bottom: 60px;
}

.who p.strong {
  margin-bottom: 5px;
  font-weight: 700;
}

/* Future */

.future p {
  margin-bottom: 60px;
}

/* Team */

.team p {
  text-align: center;
  margin-bottom: 60px;
}

.team .handle {
  margin-bottom: 5px;
}

.team p.strong {
  margin-bottom: 5px;
  font-weight: 700;
}

/* FAQs */

.faqs .question {
  margin-bottom: 5px;
  font-weight: 700;
}

.faqs .answer {
  margin-bottom: 60px;
}

/* FOOTER */

footer {
  margin: 0;
  padding: 30px 45px 0;
}

footer p {
  float: left;
}

footer .social {
  text-align: right;
}

footer .social a {
  margin: 0 10px;
  color: black;
}

footer .social a:before {
  content: '';
  display: inline-block;

  width: 15px;
  height: 15px;
  margin: 0 5px 2px 0;

  vertical-align: middle;
}

footer .social .github:before {
  background: url('/img/github-icon.svg');
}

footer .social .twitter:before {
  height: 13px;
  background: url('/img/twitter-icon.svg');
}

footer .social .slack:before {
  background: url('/img/slack-icon.svg');
}

/* Media Queries */

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 1160px) {
  .header-image {
    display: none;
  }
}

@media (max-width: 610px) {
  .header {
    height: 510px;
  }

  .header .explore {
    text-align: center;
  }

  section {
    padding: 40px;
  }

  section .heading {
    margin-bottom: 50px;
  }

  footer p {
    float: none;
    display: block;

    text-align: center;
  }

  footer .social {
    text-align: center;
  }
}
