body {
  padding-top: 0;
  padding-bottom: 20px;
  font-family: 'Montserrat';
}

a {
  color: #4A535D;
  cursor: pointer;
}

.container {
  /* hacking bootstrap, not cool */
  max-width: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}

/* NAVBAR */

.navbar {
  margin: 0;
  padding: 30px 45px 0;
  background-color: #14162d;
  border-radius: 0;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  margin: 0;
  padding: 30px 45px 0;
}

/* HEADING */

.header {
  position: relative;
  height: 440px;

  color: white;
  background-color: #14162d;
}

.header h1 {
  font-size: 48px;
}

.header p {
  margin: 50px 0;
  font-size: 15px;
}

.header-image {
  position: absolute;
  left: -46px;
  bottom: -295px;

  width: 627px;
  height: 660px; 
}

@media (max-width: 1024px) {
  .header-image {
    display: none;
  }
}

.header .btn {
  padding: 25px 45px;
  
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;

  background-color: #f47e33;
  border-radius: 0;
}

.skew {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 0;

  background-color: #14162d;
  z-index: -1;
}

/* SECTIONS */

section {
  position: relative;
  padding: 40px 140px 100px;
}

section.odd {
  background-color: #f6f6f6;
}

.section-icon {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;

  width: 70px;
  height: 70px;

  margin: 0 auto;
}

section .heading {
  margin: 10px 0 100px;
}

section .heading h3 {
  font-size: 36px;
  text-align: center;
}

section p {
  font-size: 16px;
  margin-bottom: 30px;
}

section .heading p {
  margin: 0;
  font-weight: 300;
  text-align: center;
}

/* Why? */

.why {
  margin-top: 100px;
}

/* Who? */

.who p.strong {
  margin-bottom: 5px;
  font-weight: 700;
}

.who p {
  margin-bottom: 60px;
}

/* Future */

.future p {
  margin-bottom: 60px;
}


/* FAQs */

.faqs .question {
  margin-bottom: 5px;
  font-weight: 700;
}

.faqs .answer {
  margin-bottom: 60px;
}
