<a name="blog"></a>
<div class="main container-fluid blog">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">Blog</h2>
    </div>
  </div>

  <div id="js-blog-carousel" class="cards">
    <div class="card">
      <a href="https://blog.decentraland.org/intended-allocation-of-proceeds-e613bc3be1bb" target="_blank">
        <img src="images/intended-allocation-blog-image.png" alt="Intended Allocation of Proceeds" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://blog.decentraland.org/intended-allocation-of-proceeds-e613bc3be1bb" target="_blank">
          <h3>Allocation of Proceeds</h3>
        </a>
        <p>The sale of the Decentraland token (MANA) will finance the development of Decentraland, creating a completely decentralized virtual world.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/the-decentraland-token-sale-terms-81861704c086" target="_blank">
        <img src="images/sale-terms-blog-image.png" alt="Token sale terms" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/the-decentraland-token-sale-terms-81861704c086" target="_blank">
          <h3>Token Sale Terms</h3>
        </a>
        <p>Reverse Dutch auction, distribution, vesting, and emission of the MANA token.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/building-a-land-economy-with-the-mana-token-ccb8d0d5e010" target="_blank">
        <img src="images/coin-blog-image.png" alt="MANA Token" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/building-a-land-economy-with-the-mana-token-ccb8d0d5e010" target="_blank">
          <h3>MANA Token</h3>
        </a>
        <p>Building a LAND Economy with the MANA Token.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/the-decentraland-development-roadmap-51bf7903ff16" target="_blank">
        <img src="images/roadmap-blog-image.png" alt="Why decentraland blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/the-decentraland-development-roadmap-51bf7903ff16" target="_blank">
          <h3>Development Roadmap</h3>
        </a>
        <p>Introducing our technical vision for the next era of Decentraland.</p>
      </div>
      </a>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">
        <img src="images/why-decentraland-blog-image.png" alt="Why decentraland blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">
          <h3>Why we are building Decentraland</h3>
        </a>
        <p>It’s time to think about <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">what kind of world we will create</a> for our digital lives.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/announcing-the-decentraland-token-sale-da46f9c6d2ed" target="_blank">
        <img src="images/token-sale-blog-image.png" alt="Token sale blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/announcing-the-decentraland-token-sale-da46f9c6d2ed" target="_blank">
          <h3>Announcing the Decentraland token sale</h3>
        </a>
        <p>Bootstrapping the creation of a public virtual world.</p>
      </div>
    </div>
  </div>
</div>
