<a name="blog"></a>
<div class="main container-fluid blog">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">Blog</h2>
    </div>
  </div>

  <div id="js-blog-carousel" class="cards">
    <div class="card">
      <a href="https://blog.decentraland.org/leveraging-district0x-to-jumpstart-the-decentraland-economy-73f2406fd28a" target="_blank">
        <img src="images/partnership-blog-image.png" alt="Decentraland Community Vision Program" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://blog.decentraland.org/leveraging-district0x-to-jumpstart-the-decentraland-economy-73f2406fd28a" target="_blank">
          <h3>Leveraging district0x</h3>
        </a>
        <p>How our new partnership will help users buy, sell, and rent LAND.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://blog.decentraland.org/decentraland-community-vision-program-1962834d95b4" target="_blank">
        <img src="images/contributors-blog-image.png" alt="Decentraland Community Vision Program" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://blog.decentraland.org/decentraland-community-vision-program-1962834d95b4" target="_blank">
          <h3>Decentraland Community Vision Program</h3>
        </a>
        <p>How to earn MANA Tokens for your feedback and proposals.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://blog.decentraland.org/introducing-the-decentraland-whitepaper-c115a17c77a9" target="_blank">
        <img src="images/whitepaper-blog-image.png" alt="Decentraland White Paper" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://blog.decentraland.org/introducing-the-decentraland-whitepaper-c115a17c77a9" target="_blank">
          <h3>Decentraland White Paper</h3>
        </a>
        <p>Moving Towards a Decentralized Future</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/the-decentraland-token-sale-terms-81861704c086" target="_blank">
        <img src="images/sale-terms-blog-image.png" alt="Token sale terms" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/the-decentraland-token-sale-terms-81861704c086" target="_blank">
          <h3>Token Sale Terms</h3>
        </a>
        <p>Reverse Dutch auction, distribution, vesting, and emission of the MANA token.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/building-a-land-economy-with-the-mana-token-ccb8d0d5e010" target="_blank">
        <img src="images/coin-blog-image.png" alt="MANA Token" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/building-a-land-economy-with-the-mana-token-ccb8d0d5e010" target="_blank">
          <h3>MANA Token</h3>
        </a>
        <p>Building a LAND Economy with the MANA Token.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/the-decentraland-development-roadmap-51bf7903ff16" target="_blank">
        <img src="images/roadmap-blog-image.png" alt="Why decentraland blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/the-decentraland-development-roadmap-51bf7903ff16" target="_blank">
          <h3>Development Roadmap</h3>
        </a>
        <p>Introducing our technical vision for the next era of Decentraland.</p>
      </div>
      </a>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">
        <img src="images/why-decentraland-blog-image.png" alt="Why decentraland blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">
          <h3>Why we are building Decentraland</h3>
        </a>
        <p>It’s time to think about <a href="https://medium.com/decentraland/why-we-are-building-decentraland-570a6790f293" target="_blank">what kind of world we will create</a> for our digital lives.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://medium.com/decentraland/announcing-the-decentraland-token-sale-da46f9c6d2ed" target="_blank">
        <img src="images/token-sale-blog-image.png" alt="Token sale blog" class="card-image" width="260" height="150">
      </a>
      <div class="card-body">
        <a href="https://medium.com/decentraland/announcing-the-decentraland-token-sale-da46f9c6d2ed" target="_blank">
          <h3>Announcing the Decentraland token sale</h3>
        </a>
        <p>Bootstrapping the creation of a public virtual world.</p>
      </div>
    </div>
  </div>
</div>
