<div class="main container-fluid communicate">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">{{t_communicate_decentraland_is}}
        <br>
        <span class="highlighted">{{t_communicate_for}}</span>
      </h2>
      <div class="contact join-slack">
        <a href="https://slack.decentraland.org" class="btn btn-primary" target="_blank" data-event-category="Slack CTA" data-event-action="click">
          <i class="contact-icon contact-icon-slack"></i> {{t_join_our_slack}}
        </a>
        <div class="hidden-xs">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input class="suscribe-input" type="email" placeholder="{{t_email_updates}}">
            <input type="submit" class="submit icon icon-arrow" value="" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
        <div class="visible-xs small-input">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input class="suscribe-input" type="email" placeholder="{{t_subscribe}}">
            <input type="submit" class="submit icon icon-arrow" value="" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
