<div id="faqs" class="main faqs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">{{t_faqs}}</h2>
      </div>
    </div>

    <div class="row questions">
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_own_blockchain}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_etehereum}}</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_how_land_assigned}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_land}}</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_how_large}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_large}}</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_who_validates}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_validates}}</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_how_distributed}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_distributed}}</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">{{t_faqs_why_scarse}}</h3>
        <div class="dash"></div>
        <p>{{t_faqs_scarse}}</p>
      </div>
    </div>
  </div>
</div>
