<div id="faqs" class="main faqs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">FAQs</h2>
      </div>
    </div>

    <div class="row questions">
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">Does it run on top of its own blockchain?</h3>
        <div class="dash"></div>
        <p>Decentraland uses the Ethereum blockchain to store information about land ownership and its content.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">How is land assigned to users?</h3>
        <div class="dash"></div>
        <p>Users can use MANA to buy any empty land parcel.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">How large is a tile of land?</h3>
        <div class="dash"></div>
        <p>10m x 10m, or 33ft x 33ft. You can build upwards without any limits.</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">Who validates transactions?</h3>
        <div class="dash"></div>
        <p>The Ethereum smart contract validates that modifications were made by the owner of the land.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">How is content distributed?</h3>
        <div class="dash"></div>
        <p>Content will be distributed using the IPFS network, while data hashes are stored in the blockchain.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 wow fadeIn">
        <h3 class="title">Why is land scarce?</h3>
        <div class="dash"></div>
        <p>Without scarcity, most LAND would be left abandoned, which would hurt content discoverability and the user experience overall.</p>
      </div>
    </div>
  </div>
</div>
