<footer class="container-fluid footer">
  <h2 class="company-name wow fadeIn">Decentraland Foundation</h2>
  <div class="row footer-links wow fadeIn">
    <a class="link" href="https://medium.com/decentraland" target="_blank" data-event-category="Blog Footer" data-event-action="click">Blog</a>
    <a class="link" data-scroll href="#faqs">FAQ</a>
    <a class="link" data-scroll href="#token-sale-terms">Token sale</a>
    <div class="link last-link hidden-xs">Get in touch: <br class="visible-xs" /> <a class="email-link" href="mailto:hello@decentraland.org" data-event-category="Email Footer" data-event-action="click">hello@decentraland.org</a></div>
    <div class="link last-link get-in-touch visible-xs">Get in touch: <br class="visible-xs" /> <a class="email-link" href="mailto:hello@decentraland.org" data-event-category="Email Footer" data-event-action="click">hello@decentraland.org</a></div>
  </div>
  <div class="contact-icons wow fadeIn">
    <a class="contact-icon contact-icon-twitter" href="https://twitter.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-slack" href="https://slack.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-github" href="https://github.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-chat" href="https://forum.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-reddit" href="https://reddit.com/r/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-facebook" href="https://www.facebook.com/decentraland/" target="_blank"></a>
  </div>
  <p class="copyright wow fadeIn">Copyright © 2017 Decentraland. All right reserved</p>
</footer>
