<header class="container-fluid">
  <video id="js-background-video" src="videos/background.mp4" class="hidden-xs hidden-sm" autoplay loop></video>
  <div class="video-overlay"></div>

  <div class="navbar" role="navigation">
    <div class="navbar-header">
      <a href="/" class="navbar-logo">
        <i class="icon icon-decentraland pull-left"></i>
        <h1 class="pull-left hidden-xs">Decentraland</h1>
      </a>
    </div>
    <div id="navbar" class="navbar-container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{t_translate_href}}" class="translate-link-{{t_lang}}" data-event-category="Translate to {{t_translate_to}}" data-event-action="click">{{t_translate_to}}</a></li>
        <li class="hidden-xs"><a href="https://blog.decentraland.org" target="_blank" data-event-category="Blog Header" data-event-action="click">{{t_blog}}</a></li>
        <li class="hidden-xs"><a href="https://decentraland.org/whitepaper.pdf" class="whitepaper-link" data-event-category="Whitepaper" data-event-action="click">{{t_whitepaper}}</a></li>
        <li><a href="https://decentraland.org/app" class="navbar-launch" target="_blank">{{t_launch}}&nbsp;&nbsp;🚀</a></li>
        <li><a href="https://slack.decentraland.org" class="navbar-slack" target="_blank" data-event-category="Slack Header" data-event-action="click">Slack <i class="contact-icon contact-icon-slack"></i></a></li>
        <li id="js-open-navbar"><a><i class="icon icon-hamburger"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="title"><b>{{t_virtual_world}}</b> {{t_open_standards}}</h2>
      <div class="description">
        <p>{{t_decentraland_description}}</p>
      </div>
      <div id="js-clock" class="countdown">
        <p>{{t_decentraland_token_sale}} <a data-scroll href="#token-sale-terms">{{t_learn_more}} <i class="icon icon-arrow-green"></i></a></p>
        <div class="time">
          <div class="days counter">--</div>
          <small>{{t_days}}</small>
        </div>
        <div class="time">
          <div class="hours counter">--</div>
          <small>{{t_hours}}</small>
        </div>
        <div class="time">
          <div class="minutes counter">--</div>
          <small>{{t_minutes}}</small>
        </div>
        <div class="time">
          <div class="seconds counter">--</div>
          <small>{{t_seconds}}</small>
        </div>
      </div>
      <div id="js-play-video" class="play-video" data-event-category="Modal Video" data-event-action="play">
        <i class="icon icon-play-button"></i><span>{{t_what_is_decentraland}}</span>
      </div>
      <div class="contact">
        <div class="hidden-xs big-input">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input type="email" required name="email" placeholder="{{t_email_updates}}">
            <input type="submit" class="btn btn-primary request-demo" value="{{t_subscribe}}" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
        <div class="visible-xs small-input">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input type="email" required name="email" placeholder="{{t_subscribe}}">
            <input type="submit" class="btn btn-primary request-demo icon icon-arrow" value="" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
