<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{head.title}}</title>

<meta name="description" content="{{head.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{head.ogtitle}}"/>
<meta property="og:description" content="{{head.description}}" />
<meta property="og:url" content="https://decentraland.org"/>
<meta property="og:site_name" content="Decentraland"/>
<meta property="og:image" content="https://decentraland.org/images/logo.png"/>

<meta name="twitter:title" content="{{head.ogtitle}}">
<meta name="twitter:description" content="{{head.description}}">
<meta name="twitter:card" value="{{head.ogtitle}}">
<meta name="twitter:site" content="@decentraland">
<meta name="twitter:creator" content="@decentraland">
<meta name="twitter:image" content="https://decentraland.org/images/logo.png">

<meta itemprop="name" content="Decentraland">
<meta itemprop="description" content="{{head.description}}">
<meta itemprop="image" content="https://decentraland.org/images/logo.png">

<link rel="shortcut icon" href="favicon.ico" />
<link rel="canonical" href="https://decentraland.org" />

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.min.css?c={{RESOURCE_VERSION}}">
