<header class="container-fluid">
  <video id="js-background-video" src="videos/background.mp4" class="hidden-xs hidden-sm" autoplay loop></video>
  <div class="video-overlay"></div>

  <div class="navbar" role="navigation">
    <div class="navbar-header">
      <a href="/" class="navbar-logo">
        <i class="icon icon-decentraland pull-left"></i>
        <h1 class="pull-left hidden-xs">Decentraland</h1>
      </a>
    </div>
    <div id="navbar" class="navbar-container">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs"><a data-scroll href="#blog">Blog</a></li>
        <li class="hidden-xs"><a href="https://decentraland.org/whitepaper.pdf" class="whitepaper-link" data-event-category="Whitepaper" data-event-action="click">Whitepaper</a></li>
        <li><a href="https://decentraland.org/app" class="navbar-launch" target="_blank">Launch&nbsp;&nbsp;🚀</a></li>
        <li><a href="https://slack.decentraland.org" class="navbar-slack" target="_blank" data-event-category="Slack Header" data-event-action="click">Slack <i class="contact-icon contact-icon-slack"></i></a></li>
        <li id="js-open-navbar"><a><i class="icon icon-hamburger"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="title"><b>A virtual world</b> that runs on open standards</h2>
      <div class="description">
        <p>Decentraland is an open source protocol to create and explore shared experiences in virtual reality</p>
      </div>
      <div id="js-clock" class="countdown">
        <p>Decentraland Token Sale <a data-scroll href="#token-sale-terms">Learn more <i class="icon icon-arrow-green"></i></a></p>
        <div class="time">
          <div class="days counter">--</div>
          <small>Days</small>
        </div>
        <div class="time">
          <div class="hours counter">--</div>
          <small>Hours</small>
        </div>
        <div class="time">
          <div class="minutes counter">--</div>
          <small>Minutes</small>
        </div>
        <div class="time">
          <div class="seconds counter">--</div>
          <small>Seconds</small>
        </div>
      </div>
      <div id="js-play-video" class="play-video" data-event-category="Modal Video" data-event-action="play">
        <i class="icon icon-play-button"></i><span>What is Decentraland?</span>
      </div>
      <div class="contact">
        <div class="hidden-xs big-input">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input type="email" required name="email" placeholder="Enter your email to receive updates">
            <input type="submit" class="btn btn-primary request-demo" value="Subscribe" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
        <div class="visible-xs small-input">
          <form action="//decentraland.us15.list-manage.com/subscribe/post-json?u=6f74047a4693dbc82dc4f3131&id=da075b1985&subscribe=Subscribe&b_6f74047a4693dbc82dc4f3131_da075b1985=" method="GET">
            <input type="email" required name="email" placeholder="Subscribe">
            <input type="submit" class="btn btn-primary request-demo icon icon-arrow" value="" />
            <div class="js-submit-notice notice"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
