<div id="js-menu" class="menu invisible">
  <h4>{{t_menu}} <i id="js-close-navbar" class="icon icon-close"></i></h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 menu-item"><a data-scroll href="#why-decentraland">{{t_why_decentraland}}</a></div>
      <div class="col-xs-12 menu-item"><a data-scroll href="#roadmap">{{t_roadmap}}</a></div>
      <div class="col-xs-12 menu-item"><a data-scroll href="#token-sale-terms">{{t_token_sale_terms}}</a></div>
    </div>
  </div>

  <div class="dash"></div>

  <div class="row link-list-in-columns">
    <div class="col-xs-6">
      <a href="https://blog.decentraland.org" target="_blank">{{t_blog_posts}}</a>
      <a data-scroll href="#faqs">{{t_faqs}}</a>
    </div>
    <div class="col-xs-6">
      <a data-scroll href="#team">{{t_team}}</a>
      <a data-scroll href="#partners">{{t_partners}}</a>
    </div>
  </div>

  <div class="link text-center">{{t_get_in_touch}}: <a class="email-link" href="mailto:hello@decentraland.org" data-event-category="Email Header" data-event-action="click">hello@decentraland.org</a></div>

  <div class="contact-icons">
    <a class="contact-icon contact-icon-twitter" href="https://twitter.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-slack" href="https://slack.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-github" href="https://github.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-chat" href="https://forum.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-reddit" href="https://reddit.com/r/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-facebook" href="https://www.facebook.com/decentraland/" target="_blank"></a>
  </div>
</div>
