<div id="js-menu" class="menu invisible">
  <h4>Menu <i id="js-close-navbar" class="icon icon-close"></i></h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 menu-item"><a data-scroll href="#why-decentraland">Why Decentraland?</a></div>
      <div class="col-xs-12 menu-item"><a data-scroll href="#roadmap">Roadmap</a></div>
      <div class="col-xs-12 menu-item"><a data-scroll href="#token-sale-terms">Token Sale Terms</a></div>
    </div>
  </div>

  <div class="dash"></div>

  <div class="row link-list-in-columns">
    <div class="col-xs-6">
      <a data-scroll href="#blog" class="hidden-xs">Blog posts</a>
      <a href="https://medium.com/decentraland" class="visible-xs">Blog posts</a>
      <a data-scroll href="#faqs">FAQs</a>
    </div>
    <div class="col-xs-6">
      <a data-scroll href="#team">Team</a>
      <a data-scroll href="#partners">Partners</a>
    </div>
  </div>

  <div class="link text-center">Get in touch: <a class="email-link" href="mailto:hello@decentraland.org" data-event-category="Email Header" data-event-action="click">hello@decentraland.org</a></div>

  <div class="contact-icons">
    <a class="contact-icon contact-icon-twitter" href="https://twitter.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-slack" href="https://slack.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-github" href="https://github.com/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-chat" href="https://forum.decentraland.org" target="_blank"></a>
    <a class="contact-icon contact-icon-reddit" href="https://reddit.com/r/decentraland" target="_blank"></a>
    <a class="contact-icon contact-icon-facebook" href="https://www.facebook.com/decentraland/" target="_blank"></a>
  </div>
</div>
