<div id="roadmap" class="main container-fluid roadmap">
  <h2 class="title">{{t_roadmap}}</h2>

  <div class="timeline">
    <div class="timeline-title hidden">{{t_roadmap_done}}</div>

    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left first-milestone-done">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_stone_age}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_stone_age_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_stone_age_desc}}</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">{{t_roadmap_stone_age_date}}</div>
        </div>
      </div>
    </div>

    <div class="row milestone">
      <div class="col-sm-6 milestone-left last-milestone-done hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">{{t_roadmap_bronze_age_date}}</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_bronze_age}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_bronze_age_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_bronze_age_desc}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="plus-sign">+</div>

  <div class="timeline">
    <div class="timeline-title hidden">{{t_future}}</div>

    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_mana_token_sale}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_mana_token_sale_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_mana_token_sale_desc}}</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">{{t_roadmap_mana_token_sale_date}}</div>
        </div>
      </div>
    </div>

    <div class="row milestone">
      <div class="col-sm-6 milestone-left hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">{{t_roadmap_terraform_event_date}}</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_terraform_event}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_terraform_event_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_terraform_event_desc}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_iron_age}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_iron_age_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_iron_age_desc}}</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">{{t_roadmap_iron_age_date}}</div>
        </div>
      </div>
    </div>

    <div class="row milestone milestone-offset">
      <div class="col-sm-6 milestone-left hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">{{t_roadmap_silicon_age_date}}</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">{{t_roadmap_silicon_age}}</h3>
          <h5 class="subtitle visible-xs">{{t_roadmap_silicon_age_date}}</h5>
          <div class="dash"></div>
          <p>{{t_roadmap_silicon_age_desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
