<div id="roadmap" class="main container-fluid roadmap">
  <h2 class="title">Roadmap</h2>

  <div class="timeline">
    <div class="timeline-title hidden">Done</div>

    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left first-milestone-done">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Stone Age</h3>
          <h5 class="subtitle visible-xs">June 2015</h5>
          <div class="dash"></div>
          <p>Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">June 2015</div>
        </div>
      </div>
    </div>

    <div class="row milestone">
      <div class="col-sm-6 milestone-left last-milestone-done hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">March 2017</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Bronze Age</h3>
          <h5 class="subtitle visible-xs">March 2017</h5>
          <div class="dash"></div>
          <p>Land is modeled in a 3D space. Blockchain and torrent full node. World Editor. Unity Browser.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="plus-sign">+</div>

  <div class="timeline">
    <div class="timeline-title hidden">The future</div>

    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Mana Token Sale</h3>
          <h5 class="subtitle visible-xs">August 8 through 15, 2017</h5>
          <div class="dash"></div>
          <p>An ERC20 token, MANA, will allow users to claim parcels of LAND and interact with each other within Decentraland.</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">August 8 through 15, 2017</div>
        </div>
      </div>
    </div>

    <div class="row milestone">
      <div class="col-sm-6 milestone-left hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">Q3 2017</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Terraform Event</h3>
          <h5 class="subtitle visible-xs">Q3 2017</h5>
          <div class="dash"></div>
          <p>The first opportunity to claim land will take place, along with the Beta launch of the Iron Age.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline">
    <div class="row milestone">
      <div class="col-xs-12 col-sm-6 milestone-left">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Iron Age</h3>
          <h5 class="subtitle visible-xs">Q4 2017</h5>
          <div class="dash"></div>
          <p>Add multiplayer support with avatars and live chat. Allow custom items and scripting on the land you own.</p>
        </div>
      </div>

      <div class="col-sm-6 milestone-right hidden-xs">
        <div class="milestone-landmark">
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
          <div class="milestone-date">Q4 2017</div>
        </div>
      </div>
    </div>

    <div class="row milestone milestone-offset">
      <div class="col-sm-6 milestone-left hidden-mobile">
        <div class="milestone-landmark">
          <div class="milestone-date">2018</div>
          <div class="circle-container">
            <div class="circle outer-circle">
              <div class="circle inner-circle"></div>
            </div>
          </div>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6 milestone-right">
        <div class="mobile-circle circle-container">
          <div class="circle outer-circle">
            <div class="circle inner-circle"></div>
          </div>
        </div>
        <div class="milestone-tooltip">
          <h3 class="title">Silicon Age</h3>
          <h5 class="subtitle visible-xs">2018</h5>
          <div class="dash"></div>
          <p>A full-fledged 3D world, with full VR support and customization of the laws of physics. Live in the blockchain.</p>
        </div>
      </div>
    </div>
  </div>
</div>
