<a name="team"></a>
<div class="main team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Team</h2>
        <p class="subtitle">From the creators of <a href="https://proofofexistence.com/" target="_blank">Proof of Existence</a>, <a href="https://streamium.io/" target="_blank">Streamium</a>, <a href="https://github.com/bitpay/bitcore" target="_blank">Bitcore</a>, and <a href="https://openzeppelin.org/" target="_blank">OpenZeppelin</a>.</p>
      </div>
    </div>

    <div id="js-team-members" class="row team-members">
      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/arimeilich/" target="_blank"><img class="team-member-image" src="images/arimeilich-avatar.jpg" alt="Ari Meilich avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Ari <b>Meilich</b></h3>
            <p>Project Lead</p>
            <div class="handles">
              <a href="https://twitter.com/arimeilich" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://www.linkedin.com/in/arimeilich/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/eordano/" target="_blank"><img class="team-member-image" src="images/eordano-avatar.jpg" alt="Esteban Ordano avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Esteban <b>Ordano</b></h3>
            <p>Technical Lead</p>
            <div class="handles">
              <a href="https://twitter.com/eordano" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/eordano" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/eordano/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/manuelaraoz/" target="_blank"><img class="team-member-image" src="images/maraoz-avatar.jpg" alt="Manu Aráoz avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Manuel <b>Araoz</b></h3>
            <p>Board Member</p>
            <div class="handles">
              <a href="https://twitter.com/maraoz" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/maraoz" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/manuelaraoz/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/yemel/" target="_blank"><img class="team-member-image" src="images/yemeljardi-avatar.jpg" alt="Yemel Jardi avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Yemel <b>Jardi</b></h3>
            <p>Board Member</p>
            <div class="handles">
              <a href="https://twitter.com/yemeljardi" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/yemel" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/yemel/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/dario-sneidermanis-0b7790133/" target="_blank"><img class="team-member-image" src="images/esneider-avatar.jpg" alt="Dario Sneidermanis avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Dario <b>Sneidermanis</b></h3>
            <p>Core Developer</p>
            <div class="handles">
              <a href="https://twitter.com/esneider" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/esneider" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/dario-sneidermanis-0b7790133/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/martriay/" target="_blank"><img class="team-member-image" src="images/martriay-avatar.jpg" alt="Martín Triay avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Martín <b>Triay</b></h3>
            <p>Core Developer</p>
            <div class="handles">
              <a href="https://twitter.com/martriay" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/martriay" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/martriay/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://github.com/NicoSantangelo" target="_blank"><img class="team-member-image" src="images/nicosantangelo-avatar.jpg" alt="Nicolás Santángelo avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Nicolás <b>Santángelo</b></h3>
            <p>Core Developer</p>
            <div class="handles">
              <a href="https://twitter.com/NicoSantangelo" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/NicoSantangelo" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/fzeoli/" target="_blank"><img class="team-member-image" src="images/zfran-avatar.jpg" alt="Franco Zeoli avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Franco <b>Zeoli</b></h3>
            <p>Marketing</p>
            <div class="handles">
              <a href="https://twitter.com/zfran" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/fzeoli" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/fzeoli/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/mariano690/" target="_blank"><img class="team-member-image" src="images/mariano-avatar.jpg" alt="Mariano Rodríguez avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Mariano <b>Rodríguez</b></h3>
            <p>Illustrator</p>
            <div class="handles">
              <a href="https://twitter.com/marianorod1541" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://www.linkedin.com/in/mariano690/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/jake-brukhman-6037867/" target="_blank"><img class="team-member-image" src="images/jbrukh-avatar.jpg" alt="Mariano Rodríguez avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Jake <b>Brukhman</b></h3>
            <p>Advisor</p>
            <p>Founder at CoinFund</p>
            <div class="handles">
              <a href="https://twitter.com/jbrukh" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/jbrukh" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/jake-brukhman-6037867/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/luisivancuende/" target="_blank"><img class="team-member-image" src="images/licuende-avatar.jpg" alt="Mariano Rodríguez avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Luis <b>Cuende</b></h3>
            <p>Advisor</p>
            <p>Project Lead at Aragon</p>
            <div class="handles">
              <a href="https://twitter.com/licuende" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://github.com/luisivan" target="_blank"><i class="contact-icon contact-icon-github"></i></a>
              <a href="https://www.linkedin.com/in/luisivancuende/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 wow fadeIn">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/diego-doval-25b1/" target="_blank"><img class="team-member-image" src="images/diegodoval-avatar.jpg" alt="Mariano Rodríguez avatar" width="110" height="110"></a>
          <div class="team-member-data">
            <h3 class="title">Diego <b>Doval</b></h3>
            <p>Advisor</p>
            <p>ex CTO at Ning</p>
            <div class="handles">
              <a href="https://twitter.com/diegodova" target="_blank"><i class="contact-icon contact-icon-twitter"></i></a>
              <a href="https://www.linkedin.com/in/diego-doval-25b1/" target="_blank"><i class="contact-icon contact-icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a name="partners"></a>
    <div id="js-partners" class="partners">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="title">Partners</h3>
        </div>
      </div>

      <div class="logos">
        <a href="https://zeppelin.solutions" target="_blank"><img src="images/zeppelin-logo.png" alt="Zeppelin Solutions logo" width="220"></a>
        <a href="https://aragon.one/" target="_blank"><img src="images/aragon-logo.svg" alt="Aragon logo" width="160"></a>
        <a href="https://district0x.io/" target="_blank"><img src="images/district0x-logo.png" alt="District0x logo" width="160"></a>
      </div>
    </div>
  </div>
</div>
