<div id="token-sale-terms" class="main container-fluid token-sale-terms">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">Token Sale Terms</h2>
      <p class="subtitle">Join the crowdsale on <b>August 8th</b> to help build the first virtual world that runs on open standards.</p>
      <small class="subtitle">08:00 AM EST / 12:00 PM GMT <span class="hidden-xs">(🇬🇧)</span> / 08:00 PM GMT+8 <span class="hidden-xs">(🇨🇳)</span></small>
    </div>
  </div>

  <div class="stats">
    <div class="row text-center">
      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">1000 MANA = 1 LAND</h4>
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle">Contribution period</div>
        <h4 class="token-sale-title">Aug-8 through Aug-16</h4>
        <div class="token-sale-subtitle">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">Initial price $24 USD</h4>
        <div class="token-sale-subtitle">per 1,000 MANA</div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row text-center">
      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">MANA is an ERC20 token</div>
        <h4 class="token-sale-title">LAND is a non-fungible digital asset</h4>
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">$20 Milllion</h4>
        <div class="token-sale-subtitle">Hard cap</div>
      </div>

      <div class="col-xs-12 col-md-4 stat no-border">
        <div class="token-sale-subtitle">Purchase methods accepted</div>
        <h4 class="token-sale-title">ETH, BTC, altcoins</h4>
        <div class="token-sale-subtitle">powered by ShapeShift</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <small>The conversion of all figures from USD to ETH will take place as we approach August 8th.</small>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <h2 class="token-sale-title">Intended use of revenue</h2>

        <canvas id="js-revenue-chart" class="dognut-chart right"></canvas>

        <ul class="chart-legend text-right right">
          <li class="development">
            <span class="token-sale-subtitle">Development<b class="percentage">&nbsp;&nbsp;50%</b></span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle">Research<b class="percentage">&nbsp;&nbsp;20%</b></span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle">Marketing and community dev<b class="percentage">&nbsp;&nbsp;15%</b></span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle">Operations and Business Dev<b class="percentage">&nbsp;&nbsp;10%</b></span>
          </li>
          <li class="legal">
            <span class="token-sale-subtitle">Legal<b class="percentage">&nbsp;&nbsp;5%</b></span>
          </li>
        </ul>
      </div>

      <div class="chart-container">
        <h2 class="token-sale-title">Token distribution</h2>

        <canvas id="js-distribution-chart" class="dognut-chart left"></canvas>

        <ul class="chart-legend text-left left">
          <li class="crowdsale">
            <span class="token-sale-subtitle"><b class="percentage">40%&nbsp;&nbsp;</b>Crowdsale</span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Community and partners</span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Team and early contributors</span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Foundation</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <img src="images/discount-graph.png" class="img-responsive" alt="Discount for early adopters" width="405" height="187" />
      </div>

      <div class="chart-container">
        <img src="images/landprice-graph.png" class="img-responsive" alt="LAND Price" width="405" height="187" />
      </div>
    </div>
  </div>
</div>
