<a name="token-sale-terms"></a>
<div class="main container-fluid token-sale-terms">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">Token Sale Terms</h2>
    </div>
  </div>

  <div class="row stats">
    <div class="col-xs-12 col-md-4 stat">
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      <h4 class="token-sale-title">1000 MANA = 1 LAND</h4>
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
    </div>

    <div class="col-xs-12 col-md-4 stat">
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      <h4 class="token-sale-title">3000 Million</h4>
      <div class="token-sale-subtitle">Max initial MANA supply</div>
    </div>

    <div class="col-xs-12 col-md-4 stat">
      <div class="token-sale-subtitle">Purchase methods accepted</div>
      <h4 class="token-sale-title">ETH and altcoins</h4>
      <div class="token-sale-subtitle">(powered by ShapeShift)</div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row stats">
    <div class="col-xs-12 col-md-4 stat">
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      <h4 class="token-sale-title">MANA is an ERC20 token</h4>
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
    </div>

    <div class="col-xs-12 col-md-4 stat">
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      <h4 class="token-sale-title">$30 Milllion</h4>
      <div class="token-sale-subtitle">Hard cap</div>
    </div>

    <div class="col-xs-12 col-md-4 stat no-border">
      <div class="token-sale-subtitle">Crowdsale period:</div>
      <h4 class="token-sale-title">Aug-8 through Aug-15</h4>
      <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
    </div>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <h2 class="token-sale-title">Intended use of revenue</h2>

        <canvas id="js-revenue-chart" class="dognut-chart right"></canvas>

        <ul class="chart-legend text-right right">
          <li class="development">
            <span class="token-sale-subtitle">Development<b class="percentage">&nbsp;&nbsp;50%</b></span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle">Research<b class="percentage">&nbsp;&nbsp;20%</b></span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle">Marketing and community dev<b class="percentage">&nbsp;&nbsp;15%</b></span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle">Operations and Business Dev<b class="percentage">&nbsp;&nbsp;10%</b></span>
          </li>
          <li class="legal">
            <span class="token-sale-subtitle">Legal<b class="percentage">&nbsp;&nbsp;5%</b></span>
          </li>
        </ul>
      </div>

      <div class="chart-container">
        <h2 class="token-sale-title">Token distribution</h2>

        <canvas id="js-distribution-chart" class="dognut-chart left"></canvas>

        <ul class="chart-legend text-left left">
          <li class="crowdsale">
            <span class="token-sale-subtitle"><b class="percentage">40%&nbsp;&nbsp;</b>Crowdsale</span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Community and partners</span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Team and early contributors</span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>Foundation</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <h2 class="token-sale-title">MANA Inflation rate per year</h2>
        <img src="images/inflation-graph.png" class="img-responsive" alt="MANA Inflation rate per year" width="405" height="187" />
      </div>

      <div class="chart-container">
        <h2 class="token-sale-title">Price of 1,000 MANA</h2>
        <img src="images/price-graph.png" class="img-responsive" alt="Price of 1000 MANA" width="405" height="187" />
      </div>
    </div>
  </div>
</div>
