<div id="token-sale-terms" class="main container-fluid token-sale-terms">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">{{t_token_sale_terms}}</h2>
      <p class="subtitle">{{t_token_join_crowdsale|safe}}</p>
      <small class="subtitle">{{t_token_timezones|safe}}</small>
    </div>
  </div>

  <div class="stats">
    <div class="row text-center">
      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">{{t_token_stats_1000_mana}}</h4>
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle">{{t_token_stats_contribution_period}}</div>
        <h4 class="token-sale-title">{{t_token_stats_period_dates}}</h4>
        <div class="token-sale-subtitle">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">{{t_token_stats_initial_price}}</h4>
        <div class="token-sale-subtitle">{{t_token_stats_per_1000_mana}}</div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row text-center">
      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">{{t_token_stats_mana_is_erc20}}</div>
        <h4 class="token-sale-title">{{t_token_stats_land_non_fungible}}</h4>
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
      </div>

      <div class="col-xs-12 col-md-4 stat">
        <div class="token-sale-subtitle visible-md visible-lg">&nbsp;</div>
        <h4 class="token-sale-title">{{t_token_stats_20_million}}</h4>
        <div class="token-sale-subtitle">{{t_token_stats_hard_cap}}</div>
      </div>

      <div class="col-xs-12 col-md-4 stat no-border">
        <div class="token-sale-subtitle">{{t_token_stats_purchase_accepted}}</div>
        <h4 class="token-sale-title">{{t_token_stats_purchase_methods}}</h4>
        <div class="token-sale-subtitle">{{t_token_stats_powered_by}}</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <small>{{t_token_conversion_date}}</small>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <h2 class="token-sale-title">{{t_token_charts_intended_use}}</h2>

        <canvas id="js-revenue-chart" class="dognut-chart right"></canvas>

        <ul class="chart-legend text-right right">
          <li class="development">
            <span class="token-sale-subtitle">{{t_token_charts_development}}<b class="percentage">&nbsp;&nbsp;50%</b></span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle">{{t_token_charts_research}}<b class="percentage">&nbsp;&nbsp;20%</b></span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle">{{t_token_charts_marketing_and_community_dev}}<b class="percentage">&nbsp;&nbsp;15%</b></span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle">{{t_token_charts_operations_and_business_dev}}<b class="percentage">&nbsp;&nbsp;10%</b></span>
          </li>
          <li class="legal">
            <span class="token-sale-subtitle">{{t_token_charts_legal}}<b class="percentage">&nbsp;&nbsp;5%</b></span>
          </li>
        </ul>
      </div>

      <div class="chart-container">
        <h2 class="token-sale-title">{{t_token_charts_token_distribution}}</h2>

        <canvas id="js-distribution-chart" class="dognut-chart left"></canvas>

        <ul class="chart-legend text-left left">
          <li class="crowdsale">
            <span class="token-sale-subtitle"><b class="percentage">40%&nbsp;&nbsp;</b>{{t_token_charts_token_crowdsale}}</span>
          </li>
          <li class="community-and-partners">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>{{t_token_charts_token_community_and_partners}}</span>
          </li>
          <li class="team-and-contributors">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>{{t_token_charts_token_team_and_early_contirbutors}}</span>
          </li>
          <li class="foundation">
            <span class="token-sale-subtitle"><b class="percentage">20%&nbsp;&nbsp;</b>{{t_token_charts_token_foundation}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="charts">
      <div class="chart-container">
        <img src="images/discount-graph.png" class="img-responsive" alt="Discount for early adopters" width="405" height="187" />
      </div>

      <div class="chart-container">
        <img src="images/landprice-graph.png" class="img-responsive" alt="LAND Price" width="405" height="187" />
      </div>
    </div>
  </div>
</div>
