<div id="why-decentraland" class="main explanation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">{{t_why_decentraland}}</h2>
      </div>
    </div>

    <div class="row cards">
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s">
        <div class="card left">
          <i class="card-icon card-icon-virtual-world"></i>
          <p>{{t_why_decentraland_1}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.1s">
        <div class="card">
          <i class="card-icon card-icon-control"></i>
          <p>{{t_why_decentraland_2}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.2s">
        <div class="card right">
          <i class="card-icon card-icon-blockchain"></i>
          <p>{{t_why_decentraland_3}}</p>
        </div>
      </div>
     </div>
  </div>
</div>
