<div id="why-decentraland" class="main explanation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Why Decentraland?</h2>
      </div>
    </div>

    <div class="row cards">
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s">
        <div class="card left">
          <i class="card-icon card-icon-virtual-world"></i>
          <p>A public virtual world should be ruled by open standards, shielded from the agenda of any central organization.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.1s">
        <div class="card">
          <i class="card-icon card-icon-control"></i>
          <p>In Decentraland, users have full control over the content of the land they own and keep all the proceeds from the value they generate for other users.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.2s">
        <div class="card right">
          <i class="card-icon card-icon-blockchain"></i>
          <p>To make this possible, Decentraland uses blockchain technology as an unforgeable record of ownership.</p>
        </div>
      </div>
     </div>
  </div>
</div>
