*.swo
*.swp
.DS_Store

/css/main.min.css

/css/main.min.css.map

/js/main.min.js
/js/main.min.js.map

/js/tokensale.min.js
/js/tokensale.min.js.map

/node_modules/

/package-lock.json

index.html
thankyou.html
tokensale.html
