<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Thank you for subscribing</title>

    <meta name="description" content="Decentraland is a VR world that uses a blockchain to determine ownership of land, and its own coin to trade land and purchase goods and services inside the world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="canonical" href="https://decentraland.org" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.min.css?c={{RESOURCE_VERSION}}">
  </head>
  <body class="thankyou">
    <header class="container-fluid">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <a href="/" class="navbar-logo">
            <i class="icon icon-decentraland pull-left"></i>
            <h1 class="pull-left">Decentraland</h1>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="title"><b>Thank you</b> for subscribing!</h2>
          <div class="description">
            <p>Newsletter subscribers receive important updates and project milestones first. We sent you an email to confirm your access.</p>
            <br />
            <p>We only email major announcements and developments, so for complete access:</p>
            <div class="contact join-slack">
              <a href="https://slack.decentraland.org" class="btn btn-primary" target="_blank" data-event-category="Slack CTA" data-event-action="click">
                <i class="contact-icon contact-icon-slack"></i> Join our Slack
              </a>
            </div>
            <small><a href="https://telegram.me/decentraland" target="_blank" data-event-category="Telegram Link" data-event-action="click">Telegram channels</a>, or our <a href="https://medium.com/decentraland" target="_blank" data-event-category="Blog Link" data-event-action="click">blog</a></small>
          </div>
        </div>
      </div>
    </header>

    <link rel="stylesheet" href="css/animate.min.css"> <!-- Stylesheet not needd above the fold -->

    <script src="js/main.min.js?c={{RESOURCE_VERSION}}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63691338-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1926715634274925'); // Insert your pixel ID here.
    fbq('track', 'PageView');
    fbq('track', 'CompleteRegistration');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1926715634274925&ev=PageView&noscript=1"
    /></noscript>
  </body>
</html>
